body{
    background-color: #1B244A;
}

.container{
    /* width: 95vw; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

/* fonts */
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    text-transform: uppercase;                                           
}

.scorebox{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #080001;
    color: #F94F6D;
    text-align: center;      
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.point-btn{
    color: #9AABD8;
    background: none;
    border: 0.1rem solid #9AABD8;
    border-radius: 0.1rem;
    padding: 0.2rem 0.4rem;

}